a {
    text-decoration: none;
}

.index {
    padding: 15px;
    text-align: right;
    background-color: #424242;
}

.index_menu {
    padding: 20px;
    text-align: center;
    color: white;
}

.index_current {
    padding: 20px;
    text-align: center;
    color: white;
    background-color: #2C2C2C;
}

body {
    font-family: Arial, sans-serif;
    color: white;
    background-color: #2C2C2C;
}

h1 {
    font-size: 45px;
}

.first_section {
    position: relative;
    left: 50px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.btn-group {
    position: relative;
    left: 50px;
}

div.relative {
    position: relative;
    left: 30px;
    border: 3px solid #73AD21;
}

.icon {
    width: 30px;
    height: 30px;
}

.contact_info {
    padding: 2px;
    height: 34px;
    width: 34px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}

p {
    position: relative;
    padding-top: 20px;
    color: grey;
}

.basic_information {
    padding-bottom: 50px;
}

.contact {
    position: relative;
    padding-left: 50px;
    bottom: 30px;
}

.basic_information {
    height: 800px;
}

.contact_box {
    position: absolute;
    bottom: 0;
    paddling-bottom: 20px;
}
